.FormCardClass {
    padding: 5px;
    border: black solid 1px;
    width: 50%;
    height: 50%;
    border-radius: 5px;
    margin: 90px 25% 0;
    box-shadow: #00897b 2px 1px;
}

.FormClass {
    margin: auto;
    padding: 3px;
    flex-flow: column;
    display: flex;
    width: 70%;
    height: 40%;
}

.FormCardClass .H {
    border-bottom: black solid 1px;
}

.FormCardClass .Footer {
    margin-top: 10px;
    padding: 5px;
    border-top: black solid 1px;
}

.FormCardClass .Footer:hover {
    cursor: pointer;
}

.FormClass .Input {
    margin-bottom: 10px;
}